.container
{
    display: grid;
    grid-template: auto / repeat(2,minmax(300px,400px) );
    justify-content: center;
    grid-template-areas: "producto form";
    gap: 10px;
}

.item
{
    display: grid;
}

.producto
{   
    padding: 10px;
    grid-area: producto;
    background-color: rgb(255,255,255);
    box-shadow: 0 0 12px rgb(170,170,168);;
}
.producto img
{
    width: 80%;
    justify-self: center;
}

.form
{
    grid-area: form;
   
}

.modulo-pago
{
    padding: 10px;
    background-color: rgb(214, 233, 225);
    box-shadow: 0 0 2px rgb(170,170,168);;
}

.modulo-pago form
{
    display: grid;
    
}
h3
{
    text-align: center;
}

.form input{
    height: 35px;
    border: none;
    margin-bottom: 20px;
    padding-left: 10px;
}

.form p{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    color: #3a3b3f;
    margin-bottom: 1em;
}
.form button{
    background: #98ca3f;
    color: white;
    font-size: 16px;
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    border-bottom: 5px solid #6d932b;
    display: inline-block;
    width: 60%;
    justify-self: center;
}
h1{
    text-align: center;
}